@model BitBookWebApp.Models.User



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
@ViewBag.StatusMessage
<div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <table>
            <tr>
                <td>First Name</td>
                <td>
                    @Html.TextBoxFor(a => a.FirstName)
                    @Html.ValidationMessageFor(a => a.FirstName)
                </td>
            </tr>

            <tr>
                <td>Sur Name</td>
                <td>
                    @Html.TextBoxFor(a => a.SurName)
                    @Html.ValidationMessageFor(a => a.SurName)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(a => a.Email)</td>
                <td>
                    @Html.TextBoxFor(a => a.Email)
                    @Html.ValidationMessageFor(a => a.Email)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(a => a.Gender)</td>
                <td>
                    @Html.RadioButtonFor(a => a.Gender, "Male")Male
                    @Html.RadioButtonFor(a => a.Gender, "Female") Female
                    @Html.ValidationMessageFor(a => a.Gender)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(a => a.DateOfBirth)</td>
                <td>
                    @Html.TextBoxFor(model => model.DateOfBirth, new
                    {
                        @class = "form-control",
                        type = "date"
                    })

                    @Html.ValidationMessageFor(a => a.DateOfBirth)
                </td>
            </tr>


            <tr>
                <td>@Html.LabelFor(a => a.Password)</td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.ConfirmPassword)</td>
                <td>
                    @Html.PasswordFor(a => a.ConfirmPassword)
                    @Html.ValidationMessageFor(a => a.ConfirmPassword)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Register"/></td>
            </tr>
        </table>
    }
</div>

<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function() {
        $("#news_date").datepicker({ dateFormat: 'dd/mm/yy' });
    });

</script>

</body>
</html>
